:root {
    --outline-color: #9DB5B2;
    --scale: 25px;
}

body, html {
    padding-top: 0px;
    margin-top: 0px;
}

.navbar {
    /* padding-bottom: 5%; */
}

.grid {
display: grid;
grid-template-columns: repeat(auto-fill, var(--scale));
grid-auto-rows:  var(--scale);
}

.grid::before {
content: '';
width: 0;
padding-bottom: 100%;
grid-row: 1 / 1;
grid-column: 1 / 1;
}

.grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.cell {
    border: 1px solid var(--outline-color);
    margin-top: -1px;
    margin-left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.wall {
    background-color: #000001;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

@keyframes wallAnimation {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1.0);
  }
}

.open {
    background-color: #264027;
    animation-name: wallAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.closed {
    background-color: #899E8B;
    animation-name: wallAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.path {
    background-color: #F9DC5C;
    animation-name: wallAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.start {
    background-color: #41658A;
}


.target {
    background-color: #41658A;
}

p {
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.h {
    color: var(--outline-color);
    font-size: 0px;
    /* font-size: small; */
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 2%;
    height: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus, .dropdown-button:hover {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 2%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-button {
    background-color: #3498DB;
    color: white;
    min-width: 160px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .show {display: block;}